memory_limit = {{ php_memory_limit }}
max_execution_time = {{ php_max_execution_time }}
max_input_vars = {{ php_max_input_vars }}
upload_max_filesize = 64M
post_max_size = 64M

opcache.enable=1
opcache.memory_consumption=256
opcache.interned_strings_buffer=8
opcache.max_accelerated_files=20000
opcache.revalidate_freq=2
opcache.fast_shutdown=1

